<script src="https://cdn.tailwindcss.com"></script>


{% include './navbar.html' %}
{% include './errorbanner.html' %}

<main class="mx-auto mt-8 max-w-2xl px-4 pb-16 sm:px-6 sm:pb-24 lg:max-w-7xl lg:px-8">
    <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
        <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
            <img src="{{ product.image.url }}" alt="Back of women's Basic Tee in black." class="lg:col-span-2 lg:row-span-2 rounded-lg">
        </div>
        <div class="lg:col-span-5 lg:col-start-8 px-4 py-10">
            <div class="flex flex-col gap-5 justify-between">
                <h1 class="text-4xl font-medium text-gray-900 lg:mb-10">{{ product.name }}</h1>
                <p class="text-xl font-medium text-gray-900">Price: {{ product.price }}$</p>
                <p class="text-xl font-medium text-gray-900">Developer: {{ product.developer }}</p>
                <p class="text-xl font-medium text-gray-900">Publisher: {{ product.publisher }}</p>
            </div>
        </div>
    </div>
    
    <section aria-labelledby="reviews-heading" class="mt-16 sm:mt-24">
        <h2 id="reviews-heading" class="text-lg font-medium text-gray-900">Description</h2>
        <p class="mt-3 text-md text-gray-500">
            {{ product.description }}
        </p>
    </section>
    

    <!-- Reviews -->
    <section aria-labelledby="reviews-heading" class="mt-16 sm:mt-24">    
        <form action="{% url 'EcommerceApp:addReview' product.name %}" method="post" class="relative">
            <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                {% csrf_token %}
                <label for="title" class="sr-only">Username</label>
                <input type="text" name="user" id="username" class="block w-full border-0 p-5 pb-0 text-lg font-medium placeholder-gray-500 focus:ring-0" placeholder="Username">
                <label for="rating" class="sr-only">Rating</label>
                <input type="number" name="rating" id="rating" class="block w-full border-0 p-5 pb-0 text-lg font-medium placeholder-gray-500 focus:ring-0" placeholder="Rating">
                <label for="description" class="sr-only">Description</label>
                <div class='py-5'> 
                    <textarea rows="5" name="review" id="description" class="block w-full px-5 resize-none border-0 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Write a review..."></textarea>
                </div>

              <!-- Spacer element to match the height of the toolbar -->
              <div aria-hidden="true">
                <div class="py-2">
                  <div class="h-9"></div>
                </div>
                <div class="h-px"></div>
              </div>
            </div>
          
            <div class="absolute inset-x-px bottom-0">
              <div class="flex items-center justify-right space-x-3 border-t border-gray-200 px-2 py-2 sm:px-3">
                <div class="flex-shrink-0">
                  <button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Create</button>
                </div>
              </div>
            </div>
        </form>
        <h2 id="reviews-heading" class="text-lg font-medium text-gray-900 pt-12">Recent reviews</h2>
        {% for review in reviews %}
        <div class="mt-6 space-y-10 divide-y divide-gray-200 border-t border-b border-gray-200 pb-10">
            <div class="pt-10 flex flex-col lg:flex-row gap-2 lg:gap-5 px-8">
                <p class="mt-3 space-y-6 font-medium text-gray-900">{{ review.user }}</p>
                <p class="mt-3 space-y-6 text-sm text-gray-500">{{ review.text }}</p>
            </div>
        </div>
        {% endfor %}
    </section>

  </main>